.g-breadcrumbs {
  padding-top: 47px;
  padding-bottom: 12px;

  @media (max-width: 1024px) {
    padding-top: 30px;
  }

  &__item {
    position: relative;
    display: inline;

    &:not(:last-child) {
      margin-right: 28px;

      &:after {
        content: "";
        position: absolute;
        width: 11px;
        height: 1px;
        background-color: var(--color-gray);
        right: -18px;
        top: 9px;
      }
    }
  }

  &__link {
    position: relative;
    font-size: 14px;
    line-height: 22.4px;
    color: var(--color-gray);

    &[href] {
      opacity: 1;
      color: var(--color-text);

      &:hover {
        text-decoration: none;

        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}