.g-link {
  display: inline-flex;
  text-decoration: underline;
  font-size: 16px;
  line-height: 22.4px;
  color: var(--color-main);

  &--black {
    color: var(--color-text);
  }

  &:hover {
    svg {
      transform: translateX(2px);
    }
  }

  svg {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 15px;
    object-fit: cover;
    fill: currentColor;
    transition: transform 0.3s;
  }
}