.g-pagination {
  display: flex;
  align-items: center;

  &__item {

    &:last-child {
      @media (max-width: 576px) {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border: 1px solid transparent;
    text-decoration: underline;
    color: var(--color-main);
    transition: opacity 0.3s;

    &:not(.g-pagination__link--current) {
      &:hover {
        opacity: 0.8;
      }
    }

    &--current {
      text-decoration: none;
      border-color: var(--color-main);
      border-radius: 100%;
    }
  }
}