.slider {

  &-nav {
    display: flex;
    align-items: center;

    &--light {
      .slider-nav__btn {
        color: var(--color-main);

        &:hover {
          color: rgba(#2c3039, 0.5);
        }

        &.swiper-button-disabled {
          color: var(--color-gray);
        }
      }
    }

    &__btn {
      width: 24px;
      height: 24px;
      color: var(--color-white);
      transition: color 0.3s;

      @media (max-width: 360px) {
        width: 22px;
        height: 22px;
      }

      &.swiper-button-disabled {
        color: rgba(#fff, 0.2);
        pointer-events: none;
      }

      &:hover {
        color: rgba(#fff, 0.8);
      }

      &:not(:last-child) {
        margin-right: 30px;
      }

      svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        fill: currentColor;
      }
    }
  }

  &-scrollbar {
    width: 131px;
    height: 1px;
    background-color: rgba(#fff, 0.2);

    .swiper-scrollbar-drag {
      height: 1px;
      background-color: var(--color-white);
    }

    &--light {
      background-color: var(--color-porcelain);

      .swiper-scrollbar-drag {
        background-color: var(--color-main);
      }
    }
  }

  &-pagination {
    font-size: 16px;
    line-height: 25.6px;
    color: var(--color-white);
  }
}