.about {

  &__container {
    padding-bottom: 165px;

    @media (max-width: 1024px) {
      padding-bottom: 90px;
    }

    @media (max-width: 576px) {
      padding-bottom: 80px;
    }
  }

  &__benefits {
    padding-top: 120px;
    padding-bottom: 116px;

    @media (max-width: 1024px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    @media (max-width: 576px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    &:not(:last-child) {
      padding-bottom: 50px;
      border-bottom: 1px solid var(--color-porcelain);
      margin-bottom: 50px;

      @media (max-width: 1024px) {
        padding-bottom: 40px;
        margin-bottom: 40px;
      }

      @media (max-width: 768px) {
        padding-bottom: 20px;
        margin-bottom: 30px;
      }
    }
  }

  &__title {
    min-width: 340px;
    white-space: nowrap;
    margin-right: 50px;

    @media (max-width: 1024px) {
      min-width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__desc {
    margin: 0;
    max-width: 940px;
    line-height: 26px;
    padding-top: 3px;
  }
}