.cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 80;
  background-color: var(--color-white);
  transform: translateY(110%);
  transition: transform .4s cubic-bezier(.165,.84,.44,1);

  &.show {
    transform: translateY(0%);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    @media (max-width: 576px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__desc {
    margin: 0;
    font-size: 16px;
    line-height: 22.4px;
    max-width: 802px;
    margin-right: 70px;

    a {
      color: var(--color-text);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    @media (max-width: 1024px) {
      margin-right: 0;
      margin-bottom: 40px;
      max-width: 100%;
    }

    @media (max-width: 576px) {
      margin-bottom: 30px;
    }
  }

  &__accept {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    min-width: 360px;

    @media (max-width: 768px) {
      min-width: 100%;
    }
  }
}