.info {

  &__container {
    padding-bottom: 100px;

    @media (max-width: 576px) {
      padding-bottom: 95px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 25.6px;
    margin-bottom: 12px;

    @media (max-width: 576px) {
      line-height: 28.8px;
    }
  }

  &__desc {
    margin: 0;
    color: var(--color-gray);
    line-height: 25.6px;
    margin-bottom: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @media (max-width: 576px) {
      font-size: 14px;
      line-height: 22.4px;
    }

    &.active {
      overflow: visible;
      -webkit-line-clamp: initial;
    }
  }

  &__more {
    &:hover {
      svg {
        transform: translateY(2px);
      }
    }
  }
}