.policy {
  &__container {
    padding-bottom: 20px;

    @media (max-width: 1024px) {
      padding-bottom: 0;
    }
  }

  &__title {
    max-width: 940px;
    margin-bottom: 126px;

    @media (max-width: 1024px) {
      margin-bottom: 90px;
    }

    @media (max-width: 576px) {
      margin-bottom: 80px;
    }
  }

  &__desc {

    p {
      margin: 0;
      line-height: 26px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}