.services-section {
  &__container {
    padding-top: 114px;
    padding-bottom: 115px;

    @media (max-width: 1024px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    @media (max-width: 576px) {
      padding-top: 80px;
      padding-bottom: 75px;
    }
  }

  &__title {
    margin-bottom: 55px;

    @media (max-width: 1280px) {
      margin-bottom: 40px;
    }
  }
}

.services-slider {
  overflow: visible;

  .swiper-slide {
    @media (max-width: 1024px) {
      width: 350px;
    }

    @media (max-width: 768px) {
      width: 300px;
    }

    @media (max-width: 576px) {
      width: 280px;
    }
  }

  @media (max-width: 1024px) {
    overflow: visible;
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin-top: 50px;

    @media (min-width: 1025px) {
      display: none;
    }
  }

  &__nav {
    margin-right: 50px;
  }

  &__scrollbar {
    width: 300px;

    @media (max-width: 576px) {
      max-width: 100%;
      width: 100%;
    }
  }
}

.service-item {
  position: relative;
  padding: 40px;
  height: 570px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  @media (max-width: 1280px) {
    height: 450px;
    padding: 30px;
  }

  @media (max-width: 576px) {
    height: 500px;
    padding: 20px 30px;
  }

  &:hover {
    &:before {
      background-color: rgba(#2e4d99, 0.95);
    }

    .service-item__content {
      transform: translateY(0px);
    }

    .service-item__link {
      opacity: 1;
      visibility: visible;
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 29, 43, 0.75);
    transition: background-color 0.3s;
  }

  &__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
    z-index: 3;
    transform: translateY(45px);
    transition: transform 0.3s;
  }

  &__title {
    margin-bottom: 25px;

    @media (max-width: 576px) {
      margin-bottom: 10px;
    }
  }

  &__desc {
    margin: 0;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--color-white);

    @media (max-width: 1280px) {
      font-size: 15px;
      line-height: 23.4px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
      line-height: 25.6px;
    }
  }

  &__link {
    position: relative;
    z-index: 3;
    color: var(--color-white);
    margin-top: 21px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    @media (max-width: 576px) {
      margin-top: 17px;
    }
  }
}