.varieties {
  &__container {
    padding-bottom: 114px;

    @media (max-width: 1024px) {
      padding-bottom: 90px;
    }

    @media (max-width: 576px) {
      padding-bottom: 90px;
    }
  }

  &__title {
    margin-bottom: 51px;

    &--offset {
      margin-bottom: 24px;
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 50px;
    line-height: 25.6px;
    max-width: 700px;

    @media (max-width: 576px) {
      margin-bottom: 30px;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-porcelain);
    padding-bottom: 49px;

    @media (max-width: 1024px) {
      padding-bottom: 30px;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 47px;

      @media (max-width: 1024px) {
        margin-bottom: 30px;
      }
    }

    &__title {
      width: 340px;
      margin-right: 50px;

      @media (max-width: 1024px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
      }

      @media (max-width: 576px) {
        margin-bottom: 20px;
      }
    }

    &__desc {
      margin: 0;
      max-width: 940px;
      line-height: 25.8px;
      margin-bottom: 52px;
      padding-top: 1px;

      @media (max-width: 1024px) {
        padding-top: 0;
        max-width: 100%;
      }
    }

    &__image {
      display: block;
      width: 580px;
      height: 300px;
      object-fit: cover;
      background-color: var(--color-porcelain);

      @media (max-width: 768px) {
        width: 100%;
        height: auto;
      }
    }
  }
}