.works-section {
  &__container {
    position: relative;
  }

  &__title {
    margin-bottom: 55px;

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }

    @media (max-width: 576px) {
      margin-bottom: 26px;
    }
  }

  &__link {
    position: absolute;
    top: 44px;
    right: var(--container-offset);

    @media (max-width: 1024px) {
      top: 25px;
    }

    @media (max-width: 768px) {
      position: static;
      margin-top: 30px;
    }
  }
}

.works-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.work-item {
  position: relative;
  padding: 60px 80px;
  height: 405px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 29, 43, 0.75);
    transition: background-color 0.3s;
  }

  @media (max-width: 1280px) {
    height: 350px;
    padding: 30px;
  }

  @media (max-width: 576px) {
    height: 188px;
    padding: 50px 30px 20px;
  }

  @media (min-width: 1025px) {
    &:hover {
      &:before {
        background-color: rgba(#2e4d99, 0.95);
      }

      .work-item__content {
        transform: translateY(0px);
      }

      .work-item__link {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
    z-index: 3;
    transform: translateY(45px);
    transition: transform 0.3s;
  }

  &__title {
    margin-bottom: 25px;

    @media (max-width: 576px) {
      margin-bottom: 10px;
    }
  }

  &__desc {
    margin: 0;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--color-white);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @media (max-width: 1280px) {
      font-size: 15px;
      line-height: 23.4px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
      line-height: 25.6px;
    }
  }

  &__link {
    position: relative;
    z-index: 3;
    color: var(--color-white);
    margin-top: 21px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    @media (max-width: 576px) {
      margin-top: 17px;
    }
  }
}