.works {
  &__container {
    padding-bottom: 20px;

    @media (max-width: 1024px) {
      padding-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 127px;

    @media (max-width: 1024px) {
      margin-bottom: 90px;
    }

    @media (max-width: 576px) {
      margin-bottom: 80px;
    }
  }
}