<section class="about">
  <div class="container about__container">
    <div class="about__wrapper">
      <div class="about__left">
        <h2 class="g-title g-title--lg about__title">АвтономАква — семейная компания. Опыт буровых работ в&nbsp;подмосковье с 1997 года</h2>
        <p class="about__desc">Применяем инновационные материалы и технологии (трубы по гост, специальную автоматику, не требующую обслуживания при обустройстве/монтажных работах. В бурении используем инструменты лучших отечественных и зарубежных производителей, а также для некоторых видов работ - собственной разработки и производства). </p>
        <picture>
          <source srcset="img/about-1.avif" type="image/avif">
          <source srcset="img/about-1.webp" type="image/webp">
          <img loading="lazy" src="img/about-1.jpg" class="about__image" width="700" height="466" alt="АвтономАква — семейная компания. Опыт буровых работ в подмосковье с 1997 года">
        </picture>
      </div>
      <div class="about__right">
        <picture>
          <source srcset="img/about-2.avif" type="image/avif">
          <source srcset="img/about-2.webp" type="image/webp">
          <img loading="lazy" src="img/about-2.jpg" class="about__image" width="700" height="466" alt="АвтономАква — семейная компания. Опыт буровых работ в подмосковье с 1997 года">
        </picture>
        <div class="about__bottom">
          <p class="about__desc">Имеется собственная производственная площадка (база). Средний стаж сотрудников в сфере автономного водоснабжения — 10 лет, образование  не ниже средне-специального. По индивидуальному договору предоставляем рассрочку на все типы работ. Также, есть скидки пенсионерам и другим социально незащищенным слоям населения. </p>
          <a href="about.html" class="g-link about__link">
            Подробнее о компании
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>