<section class="about">
  <div class="container">
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="index.html" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Бурение скважин</a>
      </li>
    </ul>
  </div>
  <div class="main-hero">
    <div class="container main-hero__top main-hero__top--row">
      <h1 class="g-title g-title--xl main-hero__title">О компании</h1>
      <div class="main-hero__desc">
        <p>Cамый незаменимый, удобный, автономный, экономичный, надежный, независимый, стабильный и долговечный индивидуальный источник высококачественной артезианской воды.</p>
      </div>
    </div>
    <picture>
      <source srcset="img/about-image.avif" type="image/avif">
      <source srcset="img/about-image.webp" type="image/webp">
      <img loading="lazy" src="img/about-image.jpg" class="main-hero__image" alt="О компании">
    </picture>
  </div>
  <div class="container about__container">
    <div class="about-section__wrapper">
      <div class="about-section__left">
        <h2 class="g-title g-title--lg about-section__title">АвтономАква — семейная компания. Опыт буровых работ в&nbsp;подмосковье с 1997 года</h2>
        <p class="about-section__desc">Применяем инновационные материалы и технологии (трубы по гост, специальную автоматику, не требующую обслуживания при обустройстве/монтажных работах. В бурении используем инструменты лучших отечественных и зарубежных производителей, а также для некоторых видов работ - собственной разработки и производства).</p>
        <picture>
          <source srcset="img/about-1.avif" type="image/avif">
          <source srcset="img/about-1.webp" type="image/webp">
          <img loading="lazy" src="img/about-1.jpg" class="about-section__image" width="700" height="466" alt="АвтономАква — семейная компания. Опыт буровых работ в подмосковье с 1997 года">
        </picture>
      </div>
      <div class="about-section__right">
        <picture>
          <source srcset="img/about-2.avif" type="image/avif">
          <source srcset="img/about-2.webp" type="image/webp">
          <img loading="lazy" src="img/about-2.jpg" class="about-section__image" width="700" height="466" alt="Имеется собственная производственная площадка (база). Средний стаж сотрудников в сфере автономного водоснабжения — 10 лет, образование  не ниже средне-специального. По индивидуальному договору предоставляем рассрочку на все типы работ. Также, есть скидки пенсионерам и другим социально незащищенным слоям населения.">
        </picture>
        <div class="about-section__bottom">
          <p class="about-section__desc">Имеется собственная производственная площадка (база). Средний стаж сотрудников в сфере автономного водоснабжения — 10 лет, образование  не&nbsp;ниже средне-специального. По индивидуальному договору предоставляем рассрочку на все типы работ. Также, есть скидки пенсионерам и другим социально незащищенным слоям населения. </p>
        </div>
      </div>
    </div>
    <ul class="list-reset about__benefits benefits__list">
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#time"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Опыт работ с 1997 г.</h3>
        <p class="benefits-item__desc">Идеальный способ устроить частный “водопровод” на участке загородного дома или на даче с возможностью полного обеспечения жилища водой. </p>
      </li>
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#guarantee"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Расширенная гарантия</h3>
        <p class="benefits-item__desc">Предоставляем расширенную гарантию - 10 лет на скважину, до 3 лет на оборудование.</p>
      </li>
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#time"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Опыт работ с 1997 г.</h3>
        <p class="benefits-item__desc">Идеальный способ устроить частный “водопровод” на участке загородного дома или на даче с возможностью полного обеспечения жилища водой. </p>
      </li>
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#guarantee"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Расширенная гарантия</h3>
        <p class="benefits-item__desc">Предоставляем расширенную гарантию - 10 лет на скважину, до 3 лет на оборудование.</p>
      </li>
    </ul>
    <div class="about__item">
      <h2 class="g-title g-title--sm about__title">Философия компании</h2>
      <p class="about__desc">Однозначно, действия представителей оппозиции лишь добавляют фракционных разногласий и призваны к ответу. Банальные, но неопровержимые выводы, а также некоторые особенности внутренней политики призывают нас к новым свершениям, которые, в свою очередь, должны быть в равной степени предоставлены сами себе. Значимость этих проблем настолько очевидна, что повышение уровня гражданского сознания создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса стандартных подходов! Также как синтетическое тестирование говорит о возможностях новых принципов формирования материально-технической и кадровой базы. Как принято считать, предприниматели в сети интернет могут быть объединены в целые кластеры себе подобных.</p>
    </div>
    <div class="about__item">
      <h2 class="g-title g-title--sm about__title">Миссия компании</h2>
      <p class="about__desc">А также непосредственные участники технического прогресса неоднозначны и будут рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Внезапно, представители современных социальных резервов объявлены нарушающими общечеловеческие нормы этики и морали. Картельные сговоры не допускают ситуации, при которой представители современных социальных резервов, вне зависимости от их уровня, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</p>
    </div>
  </div>
</section>