<section class="benefits">
  <div class="container benefits__container">
    <h2 class="visually-hidden">Наши преимущества</h2>
    <ul class="list-reset benefits__list">
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#time"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Опыт работ с 1997 г.</h3>
        <p class="benefits-item__desc">Идеальный способ устроить частный “водопровод” на участке загородного дома или на даче с возможностью полного обеспечения жилища водой. </p>
      </li>
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#guarantee"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Расширенная гарантия</h3>
        <p class="benefits-item__desc">Предоставляем расширенную гарантию - 10 лет на скважину, до 3 лет на оборудование.</p>
      </li>
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#time"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Опыт работ с 1997 г.</h3>
        <p class="benefits-item__desc">Идеальный способ устроить частный “водопровод” на участке загородного дома или на даче с возможностью полного обеспечения жилища водой. </p>
      </li>
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#guarantee"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Расширенная гарантия</h3>
        <p class="benefits-item__desc">Предоставляем расширенную гарантию - 10 лет на скважину, до 3 лет на оборудование.</p>
      </li>
    </ul>
  </div>
</section>