<section class="benefits">
  <div class="container benefits__container">
    <h2 class="visually-hidden">Наши преимущества</h2>
    <ul class="list-reset benefits__list">
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#pipe-valve"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Инновационные материалы и технологии</h3>
        <p class="benefits-item__desc">В монтажных работах мы используем материалы, технологии и инструменты, соответствующие существующим нормам и стандартам. Трубы, насосное оборудование, гидроаккумуляторы, кессоны, автоматика — все устанавливаемые конструкции и агрегаты отличаются продолжительным эксплуатационным сроком и устойчивостью к износу.</p>
      </li>
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#guarantee"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Гарантируем качество и результат</h3>
        <p class="benefits-item__desc">Оплата производится по факту — после нахождения воды (в соответствии с глубиной, прописанной в проекте). На все услуги предоставляется гарантия: это 10 лет в случае с бурением, и до 3-х лет — в случае с обустройством скважины и иными услугами, предполагающими установку оборудования.</p>
      </li>
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#truck"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Бесплатный выезд специалиста</h3>
        <p class="benefits-item__desc">Выезд специалиста, который производит осмотр объекта (например, в случае с бурением скважины это определение места расположения, глубины залегания подземных вод и типа грунта на участке) и уточняет требования и пожелания клиента, является бесплатным.</p>
      </li>
      <li class="benefits-item">
        <svg aria-hidden="true" class="benefits-item__icon">
          <use xlink:href="img/sprite.svg#archway"></use>
        </svg>
        <h3 class="g-title g-title--sm benefits-item__title">Собственная производственная площадка</h3>
        <p class="benefits-item__desc">Мы не просто предлагаем услуги по бурению и монтажу систем водообеспечения, но также осуществляем производственную деятельность — создаем  и испытываем оригинальные и инновационные инструменты в соответствии с последними технологическими тенденциями в этой области.</p>
      </li>
    </ul>
  </div>
</section>