<section class="components">
  <div class="container components__container">
    <h2 class="g-title g-title--lg components__title">Компоненты системы</h2>
    <p class="components__desc">Алгоритм монтажа системы отопления зависит от типа выбранного оборудования, особенностей объекта, требований заказчика. Однако монтаж системы всегда предполагает установку следующих элементов:</p>
    <ul class="list-reset components-list">
      <li class="components-list__item components-item">
        <h3 class="g-title g-title--sm components-item__title">Отопительный котел</h3>
        <p class="components-item__desc">Газовый, электрический, твердотопливный.</p>
      </li>
      <li class="components-list__item components-item">
        <h3 class="g-title g-title--sm components-item__title">Радиатор</h3>
        <p class="components-item__desc">Алюминиевый, чугунный, биметаллический.</p>
      </li>
      <li class="components-list__item components-item">
        <h3 class="g-title g-title--sm components-item__title">Трубы</h3>
        <p class="components-item__desc">Стальные, медные, из полимерных материалов.</p>
      </li>
      <li class="components-list__item components-item">
        <h3 class="g-title g-title--sm components-item__title">Смесители, фитинги, коллекторы</h3>
        <p class="components-item__desc">Элементы, обеспечивающие сочленение частей системы.</p>
      </li>
      <li class="components-list__item components-item">
        <h3 class="g-title g-title--sm components-item__title">Расширительный бак</h3>
        <p class="components-item__desc">Предотвращает разрыв труб при расширении жидкости, происходящем при нагреве.</p>
      </li>
      <li class="components-list__item components-item">
        <h3 class="g-title g-title--sm components-item__title">Циркуляционный насос</h3>
        <p class="components-item__desc">В системах с принудительной циркуляцией воды.</p>
      </li>
    </ul>
  </div>
</section>