<section class="contacts">
  <div class="container contacts__container">
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="index.html" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Контакты</a>
      </li>
    </ul>
    <h1 class="g-title g-title--xl contacts__title">Контакты</h1>
    <div class="contacts__items">
      <div class="contact-item contacts__item">
        <span class="contact-item__caption">Адреc:</span>
        <span class="contact-item__value">Москва, Московский проезд, д.10</span>
      </div>
      <div class="contact-item contacts__item">
        <span class="contact-item__caption">Адреc:</span>
        <a href="tel:74952270456" class="contact-item__value">+7 (495) 227-04-56</a>
      </div>
      <div class="contact-item contacts__item">
        <span class="contact-item__caption">Адреc:</span>
        <a href="tel:79254636859" class="contact-item__value">+7 (925) 463-68-59</a>
      </div>
      <div class="contact-item contacts__item">
        <span class="contact-item__caption">Адреc:</span>
        <a href="mailto:info@avtonomaqua.ru" class="contact-item__value contact-item__value--underline">info@avtonomaqua.ru</a>
      </div>
    </div>
  </div>
  <div class="map contacts__map" id="map"></div>
</section>