<div class="cookie">
  <div class="container cookie__container">
    <p class="cookie__desc">Этот сайт использует файлы cookie для хранения данных. Продолжая использовать сайт, вы даёте своё согласие на работу с этими файлами. Для получения дополнительной информации, пожалуйста, ознакомьтесь с нашей <a href="policy.html">Политикой обработки персональных данных.</a></p>
    <button class="btn-reset g-btn g-btn--fill cookie__accept">
      Принять
      <svg aria-hidden="true">
        <use xlink:href="img/sprite.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
</div>