<section class="criteria">
  <div class="container criteria__container">
    <h2 class="g-title g-title--lg criteria__title">Критерии выбора автономной системы канализации</h2>
    <p class="criteria__desc">При выборе септика учитывайте:</p>
    <ul class="list-reset criteria-list">
      <li class="criteria-list__item criteria-item">
        <h3 class="g-title g-title--sm criteria-item__title">Производительность</h3>
        <p class="criteria-item__desc">Предпочтительная производитель рассчитывается исходя из объёма поступающих за сутки стоков. В свою очередь последний показатель рассчитывается исходя из числа проживающих в доме людей.</p>
      </li>
      <li class="criteria-list__item criteria-item">
        <h3 class="g-title g-title--sm criteria-item__title">Залповый сброс</h3>
        <p class="criteria-item__desc">Залповый сброс — объем стоков, которые единовременно могут поступить в камеру приема с нескольких сантехнических узлов объекта.</p>
      </li>
      <li class="criteria-list__item criteria-item">
        <h3 class="g-title g-title--sm criteria-item__title">Глубина залегания</h3>
        <p class="criteria-item__desc">Глубина залегания канализационного трубопровода относительно уровня земли.</p>
      </li>
      <li class="criteria-list__item criteria-item">
        <h3 class="g-title g-title--sm criteria-item__title">Тип грунта</h3>
        <p class="criteria-item__desc">Для всех разновидностей грунта, помимо песчаного, подойдут принудительные модели (в случае с ними жидкость, прошедшая фильтрацию, направляется в специальную емкость и отводится посредством насосного оборудования).</p>
      </li>
    </ul>
  </div>
</section>