<header class="header header--light">
  <div class="header__container">
    <button class="btn-reset g-burger header__burger" aria-label="Открыть меню" data-burger>
      <svg aria-hidden="true">
        <use xlink:href="img/sprite.svg#burger"></use>
      </svg>
    </button>
    <div class="header__left">
      <a href="/" class="logo header__logo">
        <img width="160" height="110" src="img/logo2.svg" alt="АвтономАква">
      </a>
    </div>
    <div class="header__right">
      <div class="header__top">
        <span class="header__caption">Лучшие в России буровые мастера с 25-летним стажем</span>
        <div class="contact-item header__contact-item">
          <span class="contact-item__caption">Консультация и отдел продаж:</span>
          <a href="tel:74952270456" class="contact-item__value">+7 (495) 227-04-56</a>
        </div>
        <div class="contact-item header__contact-item">
          <span class="contact-item__caption">Техническая поддержка:</span>
          <a href="tel:79254636859" class="contact-item__value">+7 (925) 463-68-59</a>
        </div>
        <div class="contact-item header__contact-item">
          <span class="contact-item__caption">Написать нам:</span>
          <a href="mailto:info@avtonomaqua.ru" class="contact-item__value contact-item__value--underline">info@avtonomaqua.ru</a>
        </div>
        <button class="btn-reset g-btn g-btn--fill header__btn" data-modal-animation="drawer" data-modal-path="request-call">
          Заказать звонок
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
      <nav class="nav">
        <ul class="list-reset nav__list">
          <li class="nav__item nav__item--dropdown">
            <a href="services.html" class="nav__link">
              Услуги и сервисы
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-bottom"></use>
              </svg>
            </a>
            <ul class="list-reset nav-dropdown">
              <li class="nav-dropdown__item">
                <a href="services.html" class="nav-dropdown__link">Установка септика для частного дома: основные принципы</a>
              </li>
              <li class="nav-dropdown__item">
                <a href="#" class="nav-dropdown__link">Бурение скважин на воду в Москве и Московской области</a>
              </li>
              <li class="nav-dropdown__item">
                <a href="#" class="nav-dropdown__link">Установка системы отопления в частном доме</a>
              </li>
              <li class="nav-dropdown__item">
                <a href="#" class="nav-dropdown__link">Обустройство скважин на воду: комплектующие и этапы</a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a href="about.html" class="nav__link">О компании</a>
          </li>
          <li class="nav__item">
            <a href="price.html" class="nav__link">Стоимость</a>
          </li>
          <li class="nav__item">
            <a href="works.html" class="nav__link">Наши работы</a>
          </li>
          <li class="nav__item">
            <a href="reviews.html" class="nav__link">Отзывы</a>
          </li>
          <li class="nav__item">
            <a href="contacts.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="btn-reset header__tel" aria-label="Заказать звонок" data-modal-animation="drawer" data-modal-path="request-call">
      <svg aria-hidden="true">
        <use xlink:href="img/sprite.svg#tel"></use>
      </svg>
    </button>
    <div class="menu" data-menu>
      <div class="menu-top">
        <button class="btn-reset menu-top__close" aria-label="Закрыть меню" data-burger>
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#cross"></use>
          </svg>
        </button>
        <a href="#" class="menu-top__logo">
          <img width="160" height="110" src="img/logo2.svg" alt="АвтономАква">
        </a>
        <button class="btn-reset menu-top__tel" aria-label="Заказать звонок" data-modal-animation="drawer" data-modal-path="request-call">
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#tel"></use>
          </svg>
        </button>
      </div>
      <div class="menu-content">
        <div class="menu-content__item">
          <span class="menu-content__title">Услуги и сервисы</span>
          <ul class="list-reset menu-list">
            <li class="menu-list__item">
              <a href="services.html" class="menu-list__link">Бурение скважин</a>
            </li>
            <li class="menu-list__item">
              <a href="#" class="menu-list__link">Обустройство скважин</a>
            </li>
            <li class="menu-list__item">
              <a href="#" class="menu-list__link">Автономная канализация</a>
            </li>
            <li class="menu-list__item">
              <a href="#" class="menu-list__link">Автономное отопление</a>
            </li>
          </ul>
        </div>
        <div class="menu-content__item">
          <span class="menu-content__title">Информация</span>
          <ul class="list-reset menu-list">
            <li class="menu-list__item">
              <a href="about.html" class="menu-list__link">О компании</a>
            </li>
            <li class="menu-list__item">
              <a href="price.html" class="menu-list__link">Стоимость</a>
            </li>
            <li class="menu-list__item">
              <a href="reviews.html" class="menu-list__link">Отзывы</a>
            </li>
            <li class="menu-list__item">
              <a href="works.html" class="menu-list__link">Наши работы</a>
            </li>
            <li class="menu-list__item">
              <a href="contacts.html" class="menu-list__link">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="contact-item menu__contact-item">
          <span class="contact-item__caption">Консультация и отдел продаж:</span>
          <a href="tel:74952270456" class="contact-item__value">+7 (495) 227-04-56</a>
        </div>
        <div class="contact-item menu__contact-item">
          <span class="contact-item__caption">Техническая поддержка:</span>
          <a href="tel:79254636859" class="contact-item__value">+7 (925) 463-68-59</a>
        </div>
        <div class="contact-item menu__contact-item menu__contact-item--mail">
          <span class="contact-item__caption">Написать нам:</span>
          <a href="mailto:info@avtonomaqua.ru" class="contact-item__value contact-item__value--underline">info@avtonomaqua.ru</a>
        </div>
      </div>
    </div>
  </div>
</header>