<section class="hero">
  <div class="swiper hero-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide hero__slide">
        <div class="container hero__container">
          <span class="hero__chip">Акции</span>
          <h1 class="g-title g-title--xl g-title--white hero__title">Бесплатный выезд инженера на&nbsp;ваш&nbsp;участок</h1>
          <p class="hero__desc">Cамый незаменимый, удобный, автономный, экономичный, надежный, независимый, стабильный и долговечный индивидуальный источник высококачественной воды.</p>
          <a class="g-btn g-btn--fill hero__btn" href="#">
            Узнать подробнее
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="swiper-slide hero__slide">
        <div class="container hero__container">
          <span class="hero__chip">Акции</span>
          <h1 class="g-title g-title--xl g-title--white hero__title">Бесплатный выезд инженера на&nbsp;ваш&nbsp;участок</h1>
          <p class="hero__desc">Cамый незаменимый, удобный, автономный, экономичный, надежный, независимый, стабильный и долговечный индивидуальный источник высококачественной воды.</p>
          <a class="g-btn g-btn--fill hero__btn" href="#">
            Узнать подробнее
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="swiper-slide hero__slide">
        <div class="container hero__container">
          <span class="hero__chip">Акции</span>
          <h1 class="g-title g-title--xl g-title--white hero__title">Бесплатный выезд инженера на&nbsp;ваш&nbsp;участок</h1>
          <p class="hero__desc">Cамый незаменимый, удобный, автономный, экономичный, надежный, независимый, стабильный и долговечный индивидуальный источник высококачественной воды.</p>
          <a class="g-btn g-btn--fill hero__btn" href="#">
            Узнать подробнее
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="hero-slider__bottom">
      <div class="slider-nav hero-slider__nav">
        <button class="btn-reset slider-nav__btn hero-slider__btn--prev">
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn hero-slider__btn--next">
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="slider-scrollbar hero-slider__scrollbar"></div>
      <div class="slider-pagination hero-slider__pagination"></div>
    </div>
  </div>
</section>