<section class="history">
  <div class="history__container">
    <h2 class="g-title g-title--lg history__title">История</h2>
    <div class="history__wrapper">
      <p class="history__desc">Однозначно, акционеры крупнейших компаний в равной степени предоставлены сами себе. Также как постоянное информационно-пропагандистское обеспечение нашей деятельности предопределяет высокую востребованность укрепления моральных ценностей. Следует отметить, что консультация с широким активом в значительной степени обусловливает важность экспериментов.</p>
      <div class="swiper history-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="history-item">
              <h3 class="g-title g-title--md history-item__title">1997</h3>
              <p class="history-item__desc">Банальные, но неопровержимые выводы, а также действия представителей оппозиции, которые представляют собой яркий пример континентально-европейского типа политической культуры, призваны к ответу.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="history-item">
              <h3 class="g-title g-title--md history-item__title">1998</h3>
              <p class="history-item__desc">Банальные, но неопровержимые выводы, а также действия представителей оппозиции, которые представляют собой яркий пример континентально-европейского типа политической культуры, призваны к ответу.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="history-item">
              <h3 class="g-title g-title--md history-item__title">1999</h3>
              <p class="history-item__desc">Банальные, но неопровержимые выводы, а также действия представителей оппозиции, которые представляют собой яркий пример континентально-европейского типа политической культуры, призваны к ответу.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="history-item">
              <h3 class="g-title g-title--md history-item__title">2000</h3>
              <p class="history-item__desc">Банальные, но неопровержимые выводы, а также действия представителей оппозиции, которые представляют собой яркий пример континентально-европейского типа политической культуры, призваны к ответу.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="history-item">
              <h3 class="g-title g-title--md history-item__title">2001</h3>
              <p class="history-item__desc">Банальные, но неопровержимые выводы, а также действия представителей оппозиции, которые представляют собой яркий пример континентально-европейского типа политической культуры, призваны к ответу.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="history-item">
              <h3 class="g-title g-title--md history-item__title">2002</h3>
              <p class="history-item__desc">Банальные, но неопровержимые выводы, а также действия представителей оппозиции, которые представляют собой яркий пример континентально-европейского типа политической культуры, призваны к ответу.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="history-slider__bottom">
        <div class="slider-nav slider-nav--light history-slider__nav">
          <button class="btn-reset slider-nav__btn history-slider__btn--prev">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-left"></use>
            </svg>
          </button>
          <button class="btn-reset slider-nav__btn history-slider__btn--next">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="slider-scrollbar slider-scrollbar--light history-slider__scrollbar"></div>
      </div>
    </div>
  </div>
</section>