<section class="licenses">
  <div class="container licenses__container">
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="index.html" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Лицензии</a>
      </li>
    </ul>
    <h1 class="g-title g-title--xl licenses__title">Лицензии</h1>
    <div class="tabs" data-tabs="tab">
      <div class="tabs-dropdown">
        <button class="btn-reset g-btn g-btn--fill tabs-dropdown__toggle">Показать фильтры</button>
        <ul class="tabs__nav">
          <li class="tabs__nav-item">
            <a class="tabs__nav-btn tabs__nav-btn--active" href="#">Бурение скважин</a>
          </li>
          <li class="tabs__nav-item">
            <a class="tabs__nav-btn" href="#">Обустройство скважин</a>
          </li>
          <li class="tabs__nav-item">
            <a class="tabs__nav-btn" href="#">Автономная канализация</a>
          </li>
          <li class="tabs__nav-item">
            <a class="tabs__nav-btn" href="#">Автономное отопление</a>
          </li>
        </ul>
      </div>
      <div class="tabs__content">
        <div class="tabs__panel tabs__panel--active">
          <ul class="list-reset licenses__list">
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
          </ul>
          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать еще
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">03</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">04</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">05</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">06</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel">
          <ul class="list-reset licenses__list">
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
          </ul>
          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать еще
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">03</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">04</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">05</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">06</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel">
          <ul class="list-reset licenses__list">
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
          </ul>
          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать еще
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">03</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">04</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">05</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">06</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel">
          <ul class="list-reset licenses__list">
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
            <li class="license-item" data-modal-animation="fade" data-modal-path="license">
              <picture>
                <source srcset="img/license.avif" type="image/avif">
                <source srcset="img/license.webp" type="image/webp">
                <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
              </picture>
              <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
              <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
            </li>
          </ul>
          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать еще
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">03</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">04</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">05</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">06</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>