<section class="licenses-section">
  <div class="container licenses-section__container">
    <h2 class="g-title g-title--lg licenses-section__title">Лицензии</h2>
    <div class="swiper licenses-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="license-item" data-modal-animation="fade" data-modal-path="license">
            <picture>
              <source srcset="img/license.avif" type="image/avif">
              <source srcset="img/license.webp" type="image/webp">
              <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
            </picture>
            <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
            <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="license-item" data-modal-animation="fade" data-modal-path="license">
            <picture>
              <source srcset="img/license.avif" type="image/avif">
              <source srcset="img/license.webp" type="image/webp">
              <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
            </picture>
            <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
            <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="license-item" data-modal-animation="fade" data-modal-path="license">
            <picture>
              <source srcset="img/license.avif" type="image/avif">
              <source srcset="img/license.webp" type="image/webp">
              <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
            </picture>
            <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
            <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="license-item" data-modal-animation="fade" data-modal-path="license">
            <picture>
              <source srcset="img/license.avif" type="image/avif">
              <source srcset="img/license.webp" type="image/webp">
              <img loading="lazy" src="img/license.jpg" class="license-item__image" width="220" height="330" alt="Лицензия на бурение скважин для физических лиц">
            </picture>
            <h3 class="license-item__title">Лицензия на бурение скважин для физических лиц</h3>
            <p class="license-item__desc">А также стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. </p>
          </div>
        </div>
      </div>
      <div class="licenses-slider__bottom">
        <div class="licenses-slider__left">
          <div class="slider-nav slider-nav--light licenses-slider__nav">
            <button class="btn-reset slider-nav__btn licenses-slider__btn--prev">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </button>
            <button class="btn-reset slider-nav__btn licenses-slider__btn--next">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="slider-scrollbar slider-scrollbar--light licenses-slider__scrollbar"></div>
        </div>
        <a href="licenses.html" class="g-link licenses-section__link">
          Смотреть все лицензии
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>