<section class="method">
  <div class="container method__container">
    <div class="service-item">
      <picture>
        <source srcset="img/method.avif" type="image/avif">
        <source srcset="img/method.webp" type="image/webp">
        <img loading="lazy" src="img/method.jpg" class="service-item__image" width="580" height="400" alt="Способ циркуляции">
      </picture>
      <div class="service-item__right">
        <h2 data-da=".service-item, 1024, first" class="g-title g-title--lg service-item__title">Способ циркуляции</h2>
        <p class="service-item__desc">Существует два способа циркуляции жидкости — естественный и принудительный. В первом случае движение жидкости в отопительной системе обеспечивается за счёт сил термодинамики. При создании такой системы важно расположить котел в самой нижней точке этой системы, установить трубы с большим сечением и обеспечить определенный уклон труб в отношении к радиатору и отопительному котлу. Если отдается предпочтение системе с принудительной циркуляцией, схема должна включать в себя циркуляционный насос, позволяющий избежать необходимости соблюдать вышеприведенные требования. Помимо того, достоинством систем с циркуляционным насосом является отсутствие ограничений с точки зрения обогреваемой площади (что актуально для крупных<br /> объектов).</p>
      </div>
    </div>
  </div>
</section>