<div class="modal">
  <div class="modal__container" role="dialog" aria-modal="true" data-modal-target="request-call">
    <button class="btn-reset modal__close js-modal-close" aria-label="Закрыть модальное окно">
      <svg aria-hidden="true">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </button>
    <div class="modal__content">
      <h2 class="g-title g-title--sm modal__title">Заказать звонок</h2>
      <p class="modal__desc">Оставьте заявку, наш менеджер свяжется с Вами в ближайшее время и ответит на все интересующие вопросы.</p>
      <form action="#" class="modal-form">
        <label class="g-input modal-form__input">
          <span class="g-input__caption">Ваше имя:</span>
          <input type="text" class="input-reset g-input__input" placeholder="Введите ваше имя">
        </label>
        <label class="g-input modal-form__input">
          <span class="g-input__caption">Ваш номер телефона:</span>
          <input type="tel" class="input-reset g-input__input mask-input" placeholder="Ваш номер телефона">
        </label>
        <label class="g-input g-input--textarea modal-form__input">
          <span class="g-input__caption">Комментарий:</span>
          <textarea class="input-reset g-input__input" placeholder="Дополнительная информация"></textarea>
        </label>
        <button class="btn-reset g-btn g-btn--fill modal-form__btn" type="button" data-modal-path="thank">
          Отправить заявку
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <p class="modal-form__desc">
          Нажимая «отправить», я даю согласие на
          <a href="policy.html">обработку&nbsp;персональных&nbsp;данных</a>
        </p>
      </form>
    </div>
  </div>
  <div class="modal__container modal__container--center" role="dialog" aria-modal="true" data-modal-target="thank">
    <button class="btn-reset modal__close js-modal-close" aria-label="Закрыть модальное окно">
      <svg aria-hidden="true">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </button>
    <div class="modal__content">
      <img class="modal__image" src="img/thank.svg" alt="Ваша заявка принята!">
      <h2 class="g-title g-title--sm modal__title">Ваша заявка принята!</h2>
      <p class="modal__desc">Наш менеджер свяжется с Вами в ближайшее время ответит на все интересующие вопросы и поможем даже в самых сложных случаях!</p>
      <a href="/" class="btn-reset g-btn g-btn--fill modal-form__btn">
        Вернуться на главную
        <svg aria-hidden="true">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</div>