<section class="nuances">
  <div class="container nuances__container">
    <picture>
      <source srcset="img/nuances.avif" type="image/avif">
      <source srcset="img/nuances.webp" type="image/webp">
      <img loading="lazy" src="img/nuances.jpg" class="nuances__image" width="580" height="653" alt="Нюансы монтажа септика">
    </picture>
    <div class="nuances__right">
      <h2 data-da=".nuances__container, 1024, first" class="g-title g-title--lg nuances__title">Нюансы монтажа септика</h2>
      <p class="nuances__desc">При установке септика важно учитывать следующие моменты:</p>
      <ul class="list-reset nuances-list">
        <li class="nuances-list__item">
          Очистительное сооружение — канализационный колодец — не должно находиться далеко от дома, поскольку в случае с длинной подводящей трассой придется наращивать горловину, что  повысит расходы. Однако есть и некоторый рекомендуемый минимум дистанции — 3–5 метров. Если септик располагается на расстоянии более пятнадцати метров, систему трубопровода желательно оснастить ревизионным колодцем, который облегчит чистку трубы в случае засора.
        </li>
        <li class="nuances-list__item">
          Желательно, чтобы трасса была максимально прямолинейной. Если достигнуть этого невозможно, на поворотах устанавливаются поворотные смотровые колодцы.
        </li>
        <li class="nuances-list__item">
          Уровень грунтовых вод в месте, где устанавливается септик, не должен быть высоким. Важно заранее продумать расположение фильтрационной зоны либо дренажного колодца, которые устраиваются невдалеке от септика. В противном случае рекомендуется устанавливать специализированные септики, ориентированные на высокий уровень грунтовых вод.
        </li>
        <li class="nuances-list__item">
          Желательно располагать септик на объекте таким образом, чтобы к нему был проезд (с ориентацией на приблизительные габариты ассенизаторской машины, которая будет производить откачку твердых отходов).
        </li>
      </ul>
    </div>
  </div>
</section>