<section class="price">
  <div class="container price__container">
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="/" class="g-breadcrumbs__link">Стоимость</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Стоимость</a>
      </li>
    </ul>
    <h1 class="g-title g-title--xl price__title">Стоимость</h1>
    <div class="tabs" data-tabs="tab">
      <div class="tabs-dropdown">
        <button class="btn-reset g-btn g-btn--fill tabs-dropdown__toggle">Показать фильтры</button>
        <ul class="tabs__nav">
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn tabs__nav-btn--active" type="button">Бурение скважин</button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">Обустройство скважин</button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">Автономная канализация</button>
          </li>
          <li class="tabs__nav-item">
            <button class="btn-reset tabs__nav-btn" type="button">Автономное отопление</button>
          </li>
        </ul>
      </div>
      <div class="tabs__content">
        <div class="tabs__panel tabs__panel--active">
          <div class="table price__table">
            <table class="table-top">
              <tr class="table-top__row">
                <th class="table-top__value">№</th>
                <th class="table-top__sep">/</th>
                <th class="table-top__value">Описание</th>
                <th class="table-top__value">Ед. измерения</th>
                <th class="table-top__value">Стоимость</th>
              </tr>
            </table>
            <ul class="list-reset table__items">
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
            </ul>
          </div>
          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать ешё
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">03</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">04</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">05</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">06</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="table price__table">
            <table class="table-top">
              <tr class="table-top__row">
                <th class="table-top__value">№</th>
                <th class="table-top__sep">/</th>
                <th class="table-top__value">Описание</th>
                <th class="table-top__value">Ед. измерения</th>
                <th class="table-top__value">Стоимость</th>
              </tr>
            </table>
            <ul class="list-reset table__items">
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
            </ul>
          </div>
          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать ешё
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">03</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">04</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">05</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">06</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="table price__table">
            <table class="table-top">
              <tr class="table-top__row">
                <th class="table-top__value">№</th>
                <th class="table-top__sep">/</th>
                <th class="table-top__value">Описание</th>
                <th class="table-top__value">Ед. измерения</th>
                <th class="table-top__value">Стоимость</th>
              </tr>
            </table>
            <ul class="list-reset table__items">
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
            </ul>
          </div>
          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать ешё
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">03</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">04</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">05</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">06</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="table price__table">
            <table class="table-top">
              <tr class="table-top__row">
                <th class="table-top__value">№</th>
                <th class="table-top__sep">/</th>
                <th class="table-top__value">Описание</th>
                <th class="table-top__value">Ед. измерения</th>
                <th class="table-top__value">Стоимость</th>
              </tr>
            </table>
            <ul class="list-reset table__items">
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 9 522 ₽</span>
                </span>
              </li>
              <li class="table__item price-item">
                <div class="price-item__content">
                  <h2 class="price-item__title">Скважина с кессоном</h2>
                  <p class="price-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника.</p>
                </div>
                <span class="price-item__info">
                  <span class="price-item__caption">Ед. измерения</span>
                  <span class="price-item__value">м<sup>3</sup></span>
                </span>
                <span class="price-item__info">
                  <span class="price-item__caption">Стоимость</span>
                  <span class="price-item__value">от 482 ₽</span>
                </span>
              </li>
            </ul>
          </div>
          <div class="load-more">
            <button class="btn-reset g-link g-link--more">
              Показать ешё
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#more"></use>
              </svg>
            </button>
            <ul class="list-reset g-pagination load-more__pagination">
              <li class="g-pagination__item">
                <span class="g-pagination__link g-pagination__link--current">01</span>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">02</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">03</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">04</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">05</a>
              </li>
              <li class="g-pagination__item">
                <a href="#" class="g-pagination__link">06</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>