<section class="questions">
  <div class="container questions__container">
    <div class="questions__content">
      <div class="questions__left">
        <h2 class="g-title g-title--lg g-title--white questions__title">Остались вопросы?</h2>
        <p class="questions__desc">Отправьте заявку и наш менеджер свяжется с Вами в ближайшее время и ответит на все интересующие Вас вопросы.</p>
        <form action="#" class="questions-form">
          <label class="g-input g-input--stroke questions-form__input">
            <span class="g-input__caption">Ваше имя:</span>
            <input type="text" class="input-reset g-input__input" placeholder="Введите ваше имя">
          </label>
          <label class="g-input g-input--stroke questions-form__input">
            <span class="g-input__caption">Ваш номер телефона:</span>
            <input type="tel" class="input-reset g-input__input mask-input" placeholder="Ваш номер телефона">
          </label>
          <button class="btn-reset g-btn questions-form__btn">
            Отправить заявку
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <p class="questions-form__desc">
            Нажимая «отправить», я даю согласие на
            <a href="policy.html">обработку&nbsp;персональных&nbsp;данных</a>
          </p>
        </form>
      </div>
      <div class="questions-person">
        <picture>
          <source srcset="img/manager.avif" type="image/avif">
          <source srcset="img/manager.webp" type="image/webp">
          <img loading="lazy" src="img/manager.jpg" class="questions-person__image" width="430" height="610" alt="Иванов Иван">
        </picture>
        <div class="questions-person__info">
          <span class="questions-person__name">Иванов Иван</span>
          <span class="questions-person__title-job">Менеджер по&nbsp;продажам</span>
        </div>
      </div>
    </div>
  </div>
</section>