<section class="reviews">
  <div class="container reviews__container">
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="/" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Отзывы</a>
      </li>
    </ul>
    <h1 class="g-title g-title--xl reviews__title">Отзывы</h1>
    <ul class="list-reset reviews-list">
      <li class="reviews-list__item">
        <div class="review review--has-backdrop" data-modal-animation="fade" data-modal-path="video-review">
          <picture>
            <source srcset="img/review-1.avif" type="image/avif">
            <source srcset="img/review-1.webp" type="image/webp">
            <img loading="lazy" src="img/review-1.jpg" class="review__backdrop" width="460" height="400" alt="Олег">
          </picture>
          <div class="review__content">
            <div class="review__top">
              <span class="review__name">Олег</span>
              <span class="review__date">18 мая 2022</span>
            </div>
            <span class="g-play review__play">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </span>
            <q class="review__txt">Обращались в компанию за уборкой после ремонта общего коридора на этаже. Загрязнения были сильными (шпатлевка, пыль, фуга и даже краска на пористой плитке), но ребята (Андрей и напарник) со своим оборудованием и средствами справились на отлично!</q>
          </div>
        </div>
      </li>
      <li class="reviews-list__item reviews-list__item--big">
        <div class="review review--has-backdrop" data-modal-animation="fade" data-modal-path="video-review">
          <picture>
            <source srcset="img/review-2.avif" type="image/avif">
            <source srcset="img/review-2.webp" type="image/webp">
            <img loading="lazy" src="img/review-2.jpg" class="review__backdrop" width="460" height="400" alt="Олег">
          </picture>
          <div class="review__content">
            <div class="review__top">
              <span class="review__name">Дмитрий</span>
              <span class="review__date">16 мая 2022</span>
            </div>
            <span class="g-play review__play">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </span>
            <q class="review__txt">Вот вам яркий пример современных тенденций — базовый вектор развития обеспечивает актуальность кластеризации усилий. Каждый из нас понимает очевидную вещь: убеждённость некоторых оппонентов требует анализа переосмысления внешнеэкономических политик. Господа, повышение уровня гражданского сознания создаёт предпосылки для направлений прогрессивного развития.</q>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review" data-modal-animation="drawer" data-modal-path="review">
          <div class="review__content">
            <div class="review__top">
              <span class="review__name">Олег</span>
              <span class="review__date">18 мая 2022</span>
            </div>
            <span class="g-quote review__quote">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#quote"></use>
              </svg>
            </span>
            <q class="review__txt">Следует отметить, что курс на социально-ориентированный национальный проект влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Картельные сговоры не допускают ситуации, при которой ключевые особенности структуры проекта будут преданы социально-демократической анафеме. Как уже неоднократно упомянуто, тщательные исследования конкурентов и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований.</q>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review" data-modal-animation="drawer" data-modal-path="review">
          <div class="review__content">
            <div class="review__top">
              <span class="review__name">Олег</span>
              <span class="review__date">18 мая 2022</span>
            </div>
            <span class="g-quote review__quote">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#quote"></use>
              </svg>
            </span>
            <q class="review__txt">Для современного мира выбранный нами инновационный путь создаёт предпосылки для инновационных методов управления процессами. Таким образом, базовый вектор развития влечет за собой процесс внедрения и модернизации системы массового участия. А также сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.</q>
          </div>
        </div>
      </li>
      <li class="reviews-list__item reviews-list__item--big">
        <div class="review review--has-backdrop" data-modal-animation="fade" data-modal-path="video-review">
          <picture>
            <source srcset="img/review-2.avif" type="image/avif">
            <source srcset="img/review-2.webp" type="image/webp">
            <img loading="lazy" src="img/review-2.jpg" class="review__backdrop" width="460" height="400" alt="Олег">
          </picture>
          <div class="review__content">
            <div class="review__top">
              <span class="review__name">Дмитрий</span>
              <span class="review__date">16 мая 2022</span>
            </div>
            <span class="g-play review__play">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </span>
            <q class="review__txt">Вот вам яркий пример современных тенденций — базовый вектор развития обеспечивает актуальность кластеризации усилий. Каждый из нас понимает очевидную вещь: убеждённость некоторых оппонентов требует анализа переосмысления внешнеэкономических политик. Господа, повышение уровня гражданского сознания создаёт предпосылки для направлений прогрессивного развития.</q>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review review--has-backdrop" data-modal-animation="fade" data-modal-path="video-review">
          <picture>
            <source srcset="img/review-1.avif" type="image/avif">
            <source srcset="img/review-1.webp" type="image/webp">
            <img loading="lazy" src="img/review-1.jpg" class="review__backdrop" width="460" height="400" alt="Олег">
          </picture>
          <div class="review__content">
            <div class="review__top">
              <span class="review__name">Олег</span>
              <span class="review__date">18 мая 2022</span>
            </div>
            <span class="g-play review__play">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </span>
            <q class="review__txt">Обращались в компанию за уборкой после ремонта общего коридора на этаже. Загрязнения были сильными (шпатлевка, пыль, фуга и даже краска на пористой плитке), но ребята (Андрей и напарник) со своим оборудованием и средствами справились на отлично!</q>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review" data-modal-animation="drawer" data-modal-path="review">
          <div class="review__content">
            <div class="review__top">
              <span class="review__name">Олег</span>
              <span class="review__date">18 мая 2022</span>
            </div>
            <span class="g-quote review__quote">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#quote"></use>
              </svg>
            </span>
            <q class="review__txt">Следует отметить, что курс на социально-ориентированный национальный проект влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Картельные сговоры не допускают ситуации, при которой ключевые особенности структуры проекта будут преданы социально-демократической анафеме. Как уже неоднократно упомянуто, тщательные исследования конкурентов и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований.</q>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review" data-modal-animation="drawer" data-modal-path="review">
          <div class="review__content">
            <div class="review__top">
              <span class="review__name">Олег</span>
              <span class="review__date">18 мая 2022</span>
            </div>
            <span class="g-quote review__quote">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#quote"></use>
              </svg>
            </span>
            <q class="review__txt">Следует отметить, что курс на социально-ориентированный национальный проект влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Картельные сговоры не допускают ситуации, при которой ключевые особенности структуры проекта будут преданы социально-демократической анафеме. Как уже неоднократно упомянуто, тщательные исследования конкурентов и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований.</q>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review review--has-backdrop" data-modal-animation="fade" data-modal-path="video-review">
          <picture>
            <source srcset="img/review-1.avif" type="image/avif">
            <source srcset="img/review-1.webp" type="image/webp">
            <img loading="lazy" src="img/review-1.jpg" class="review__backdrop" width="460" height="400" alt="Олег">
          </picture>
          <div class="review__content">
            <div class="review__top">
              <span class="review__name">Олег</span>
              <span class="review__date">18 мая 2022</span>
            </div>
            <span class="g-play review__play">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </span>
            <q class="review__txt">Обращались в компанию за уборкой после ремонта общего коридора на этаже. Загрязнения были сильными (шпатлевка, пыль, фуга и даже краска на пористой плитке), но ребята (Андрей и напарник) со своим оборудованием и средствами справились на отлично!</q>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="review" data-modal-animation="drawer" data-modal-path="review">
          <div class="review__content">
            <div class="review__top">
              <span class="review__name">Олег</span>
              <span class="review__date">18 мая 2022</span>
            </div>
            <span class="g-quote review__quote">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#quote"></use>
              </svg>
            </span>
            <q class="review__txt">Следует отметить, что курс на социально-ориентированный национальный проект влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Картельные сговоры не допускают ситуации, при которой ключевые особенности структуры проекта будут преданы социально-демократической анафеме. Как уже неоднократно упомянуто, тщательные исследования конкурентов и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований.</q>
          </div>
        </div>
      </li>
    </ul>
    <div class="load-more">
      <button class="btn-reset g-link g-link--more">
        Показать ешё
        <svg aria-hidden="true">
          <use xlink:href="img/sprite.svg#more"></use>
        </svg>
      </button>
      <ul class="list-reset g-pagination load-more__pagination">
        <li class="g-pagination__item">
          <span class="g-pagination__link g-pagination__link--current">01</span>
        </li>
        <li class="g-pagination__item">
          <a href="#" class="g-pagination__link">02</a>
        </li>

        <li class="g-pagination__item">
          <a href="#" class="g-pagination__link">03</a>
        </li>

        <li class="g-pagination__item">
          <a href="#" class="g-pagination__link">04</a>
        </li>

        <li class="g-pagination__item">
          <a href="#" class="g-pagination__link">05</a>
        </li>
      </ul>
    </div>
  </div>
</section>