<section class="service">
  <div class="container">
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="index.html" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a href="services.html" class="g-breadcrumbs__link">Услуги и сервисы</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Бурение скважин на воду в Москве и Московской области</a>
      </li>
    </ul>
  </div>
  <div class="main-hero">
    <div class="container main-hero__top">
      <h1 class="g-title g-title--xl main-hero__title">Бурение скважин на воду в Москве и Московской области</h1>
      <div class="main-hero__desc">
        <p>Мы предлагаем услуги по бурению скважин на воду, недорого и оперативно реализуем как неглубокие скважины на песок, так и артезианские скважины на известняк.</p>
        <p>Наша компания специализируется на оказании услуг по бурению скважин под воду в Москве и Московской области. Мы осуществляем создание скважин всех существующих типов с применением современного оборудования и учетом требований и пожеланий клиента.</p>
      </div>
    </div>
    <picture>
      <source srcset="img/service-image-2.avif" type="image/avif">
      <source srcset="img/service-image-2.webp" type="image/webp">
      <img loading="lazy" src="img/service-image-2.jpg" class="main-hero__image" alt="Бурение скважин на воду в Москве и Московской области">
    </picture>
  </div>
</section>