<section class="services">
  <div class="container services__container">
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="/" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Услуги и сервисы</a>
      </li>
    </ul>
    <h1 class="g-title g-title--xl services__title">Услуги и сервисы</h1>
    <ul class="list-reset services-list">
      <li class="services-list__item">
        <a href="service.html" class="services-item">
          <picture>
            <source srcset="img/service-1.avif" type="image/avif">
            <source srcset="img/service-1.webp" type="image/webp">
            <img loading="lazy" src="img/service-1.jpg" class="services-item__image" width="360" height="650" alt="Бурение скважин">
          </picture>
          <div class="services-item__content">
            <h3 class="g-title g-title--md g-title--white services-item__title">Бурение скважин</h3>
            <p class="services-item__desc">Cамый незаменимый, удобный, автономный, экономичный, надежный, независимый, стабильный и долговечный индивидуальный источник высококачественной артезианской воды.</p>
          </div>
          <span class="g-link services-item__link">
            Подробнее
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="services-list__item">
        <a href="service.html" class="services-item">
          <picture>
            <source srcset="img/service-1.avif" type="image/avif">
            <source srcset="img/service-1.webp" type="image/webp">
            <img loading="lazy" src="img/service-1.jpg" class="services-item__image" width="360" height="650" alt="Бурение скважин">
          </picture>
          <div class="services-item__content">
            <h3 class="g-title g-title--md g-title--white services-item__title">Бурение скважин</h3>
            <p class="services-item__desc">Cамый незаменимый, удобный, автономный, экономичный, надежный, независимый, стабильный и долговечный индивидуальный источник высококачественной артезианской воды.</p>
          </div>
          <span class="g-link services-item__link">
            Подробнее
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="services-list__item">
        <a href="service.html" class="services-item">
          <picture>
            <source srcset="img/service-1.avif" type="image/avif">
            <source srcset="img/service-1.webp" type="image/webp">
            <img loading="lazy" src="img/service-1.jpg" class="services-item__image" width="360" height="650" alt="Бурение скважин">
          </picture>
          <div class="services-item__content">
            <h3 class="g-title g-title--md g-title--white services-item__title">Бурение скважин</h3>
            <p class="services-item__desc">Cамый незаменимый, удобный, автономный, экономичный, надежный, независимый, стабильный и долговечный индивидуальный источник высококачественной артезианской воды.</p>
          </div>
          <span class="g-link services-item__link">
            Подробнее
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="services-list__item">
        <a href="service.html" class="services-item">
          <picture>
            <source srcset="img/service-1.avif" type="image/avif">
            <source srcset="img/service-1.webp" type="image/webp">
            <img loading="lazy" src="img/service-1.jpg" class="services-item__image" width="360" height="650" alt="Бурение скважин">
          </picture>
          <div class="services-item__content">
            <h3 class="g-title g-title--md g-title--white services-item__title">Бурение скважин</h3>
            <p class="services-item__desc">Cамый незаменимый, удобный, автономный, экономичный, надежный, независимый, стабильный и долговечный индивидуальный источник высококачественной артезианской воды.</p>
          </div>
          <span class="g-link services-item__link">
            Подробнее
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>