<section class="service">
  <div class="container">
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="/" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a href="services.html" class="g-breadcrumbs__link">Услуги и сервисы</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Установка септика для частного дома: основные принципы</a>
      </li>
    </ul>
  </div>
  <div class="main-hero">
    <div class="container main-hero__top">
      <h1 class="g-title g-title--xl main-hero__title">Установка септика для частного дома: основные принципы</h1>
      <div class="main-hero__desc">
        <p>Мы предлагаем услуги по монтажу септиков с анаэробной очисткой и биосептиков. При выборе учитывайте параметры производительности, объем залпового сброса, тип грунта.</p>
        <p>Наша компания предлагает приобрести по невысоким ценам септики для частного дома — специальные канализационные колодцы, ориентированные на объекты индивидуального домовладения.</p>
      </div>
    </div>
    <picture>
      <source srcset="img/service-image-1.avif" type="image/avif">
      <source srcset="img/service-image-1.webp" type="image/webp">
      <img loading="lazy" src="img/service-image-1.jpg" class="main-hero__image" alt="Установка септика для частного дома: основные принципы">
    </picture>
  </div>
</section>