<section class="services-section">
  <div class="container services-section__container">
    <h2 class="g-title g-title--lg services-section__title">Услуги и сервисы</h2>
    <div class="swiper services-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="service.html" class="service-item">
            <picture>
              <source srcset="img/service-1.avif" type="image/avif">
              <source srcset="img/service-1.webp" type="image/webp">
              <img loading="lazy" src="img/service-1.jpg" class="service-item__image" width="360" height="650" alt="Бурение скважин">
            </picture>
            <div class="service-item__content">
              <h3 class="g-title g-title--md g-title--white service-item__title">Бурение скважин</h3>
              <p class="service-item__desc">Cамый незаменимый, удобный, автономный, экономичный, надежный, независимый, стабильный и долговечный индивидуальный источник высококачественной артезианской воды.</p>
            </div>
            <span class="g-link service-item__link">
              Подробнее
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="service.html" class="service-item">
            <picture>
              <source srcset="img/service-2.avif" type="image/avif">
              <source srcset="img/service-2.webp" type="image/webp">
              <img loading="lazy" src="img/service-2.jpg" class="service-item__image" width="360" height="650" alt="Обустройство скважин">
            </picture>
            <div class="service-item__content">
              <h3 class="g-title g-title--md g-title--white service-item__title">Обустройство скважин</h3>
              <p class="service-item__desc">Идеальный способ устроить частный “водопровод” на участке загородного дома или на даче с возможностью полного обеспечения жилища водой.</p>
            </div>
            <span class="g-link service-item__link">
              Подробнее
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="service.html" class="service-item">
            <picture>
              <source srcset="img/service-1.avif" type="image/avif">
              <source srcset="img/service-1.webp" type="image/webp">
              <img loading="lazy" src="img/service-1.jpg" class="service-item__image" width="360" height="650" alt="Автономная канализация">
            </picture>
            <div class="service-item__content">
              <h3 class="g-title g-title--md g-title--white service-item__title">Автономная канализация</h3>
              <p class="service-item__desc">Современная канализация обеспечивается такими видами систем, как накопительные емкости, септики с почвенной доочисткой, установки глубокой биологической очистки.</p>
            </div>
            <span class="g-link service-item__link">
              Подробнее
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="service.html" class="service-item">
            <picture>
              <source srcset="img/service-2.avif" type="image/avif">
              <source srcset="img/service-2.webp" type="image/webp">
              <img loading="lazy" src="img/service-2.jpg" class="service-item__image" width="360" height="650" alt="Автономное отопление">
            </picture>
            <div class="service-item__content">
              <h3 class="g-title g-title--md g-title--white service-item__title">Автономное отопление</h3>
              <p class="service-item__desc">Автономным считается отопление жилья с помощью собственного источника тепла, расположенного в частном доме или квартире. Независимое отопление обычно используется в частных домах, реже — в городском жилье.</p>
            </div>
            <span class="g-link service-item__link">
              Подробнее
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="services-slider__bottom">
        <div class="slider-nav slider-nav--light services-slider__nav">
          <button class="btn-reset slider-nav__btn services-slider__btn--prev">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-left"></use>
            </svg>
          </button>
          <button class="btn-reset slider-nav__btn services-slider__btn--next">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="slider-scrollbar slider-scrollbar--light services-slider__scrollbar"></div>
      </div>
    </div>
  </div>
</section>