<section class="service">
  <div class="container">
    <ul class="list-reset g-breadcrumbs">
      <li class="g-breadcrumbs__item">
        <a href="index.html" class="g-breadcrumbs__link">Главная</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a href="services.html" class="g-breadcrumbs__link">Услуги и сервисы</a>
      </li>
      <li class="g-breadcrumbs__item">
        <a class="g-breadcrumbs__link">Установка системы отопления в частном доме</a>
      </li>
    </ul>
  </div>
  <div class="main-hero">
    <div class="container main-hero__top">
      <h1 class="g-title g-title--xl main-hero__title">Установка системы отопления в частном доме</h1>
      <div class="main-hero__desc">
        <p>Наша компания предлагает услуги установки котельного оборудования (газового, твердотопливного или электрического) и необходимых для обогрева помещений коммуникаций.</p>
        <p>Наша компания предлагает услуги проектирования систем отопления, установки котлов и труб всех существующих разновидностей в Москве и Московской области.</p>
      </div>
    </div>
    <picture>
      <source srcset="img/service-image-3.avif" type="image/avif">
      <source srcset="img/service-image-3.webp" type="image/webp">
      <img loading="lazy" src="img/service-image-3.jpg" class="main-hero__image" alt="Установка системы отопления в частном доме">
    </picture>
  </div>
</section>