<section class="stages">
  <div class="container stages__container">
    <h2 class="g-title g-title--lg stages__title">Этапы бурения скважин на воду</h2>
    <div class="stages__desc">
      <p>Работы по созданию артезианской скважины в Московской области под ключ обычно предполагают двойную обсадку
        (труба из полимерных материалов пропускается внутри стальной). Вначале монтируют обсадную колонну, перекрывающую
        все породы до известнякового слоя, а далее устанавливается колонна из полимерных материалов (по ее стволу и
        производится забор жидкости).</p>
      <p>Общий алгоритм бурения и создания скважины следующий (точная последовательность зависит от того, скважину
        какого типа вы решили купить — на песок или на известняк):</p>
    </div>
    <ul class="list-reset stages-list">
      <li class="stages-list__item stages-item">
        <p class="stages-item__desc">
          Заезд техники (буровая машина и машина снабжения) на территорию объекта (при необходимости разбирается забор).
        </p>
      </li>
      <li class="stages-list__item stages-item">
        <p class="stages-item__desc">
          Бурение скважины (алгоритм работы, спецтехника и применяемые материалы зависят от того, какой разновидности
          скважины вы отдали предпочтение — песчаной или артезианской). Продолжительность бурения зависит от глубины,
          конструкции, погодных условий и особенностей грунта на участке.
        </p>
      </li>
      <li class="stages-list__item stages-item">
        <p class="stages-item__desc">
          Обсадка и прокачка скважины с применением стальных и/или полимерных труб.
        </p>
      </li>
      <li class="stages-list__item stages-item">
        <p class="stages-item__desc">
          Сдача скважины и воды (производится проверка жидкости на предмет наличия в ней примесей, рассчитывается дебит
          по разнице уровней).
        </p>
      </li>
      <li class="stages-list__item stages-item">
        <p class="stages-item__desc">
          Выдача документации (подписание акта приема-сдачи и паспорта скважины).
        </p>
      </li>
    </ul>
  </div>
</section>