<section class="varieties">
  <div class="container varieties__container">
    <h2 class="g-title g-title--lg varieties__title varieties__title--offset">Виды котлов</h2>
    <p class="varieties__desc">Существует три основных разновидности котельного оборудования, отличающегося в зависимости от источника тепловой энергии:</p>
    <div class="varieties-item">
      <h3 class="g-title g-title--sm varieties-item__title">Газовое</h3>
      <div class="varieties-item__right">
        <p class="varieties-item__desc">Наиболее классический вариант, топливом для которого обычно выступает газ пропан или метан. Установка газового котла актуальна для частных домов, невдалеке от которых располагается газовая магистраль. Преимущество — автоматизация работы. В результате функционирования оборудования не образуется продуктов сгорания. Нет никакого вреда для атмосферы. Недостаток — необходимость проведения газовых коммуникаций. Также некоторые находят минусом опасность открытого огня при утечке газа.</p>
        <picture>
          <source srcset="img/varieties-3.avif" type="image/avif">
          <source srcset="img/varieties-3.webp" type="image/webp">
          <img loading="lazy" src="img/varieties-3.jpg" class="varieties-item__image" width="580" height="300" alt="Газовое">
        </picture>
      </div>
    </div>
    <div class="varieties-item">
      <h3 class="g-title g-title--sm varieties-item__title">Твердотопливное</h3>
      <div class="varieties-item__right">
        <p class="varieties-item__desc">Такие агрегаты применяются как в качестве основных, так и дополнительных отопительных устройств. Преимущество — незамысловатость, другой плюс — возможность использования разных видов топлива. Ключевое достоинство — независимость от основных коммуникаций. Однако такой котёл предполагает контроль процесса нагрева, оставляет продукты сгорания и требует регулярного обслуживания (чистка). Также твердотопливное котельное оборудование характеризуется крупными размерами.</p>
        <picture>
          <source srcset="img/varieties-4.avif" type="image/avif">
          <source srcset="img/varieties-4.webp" type="image/webp">
          <img loading="lazy" src="img/varieties-4.jpg" class="varieties-item__image" width="580" height="300" alt="Твердотопливное">
        </picture>
      </div>
    </div>
    <div class="varieties-item">
      <h3 class="g-title g-title--sm varieties-item__title">Электрическое</h3>
      <div class="varieties-item__right">
        <p class="varieties-item__desc">Среди преимуществ электрических котлов: компактность, простота монтажа и эксплуатации, отсутствие продуктов сгорания, невысокая стоимость. Однако функционирование такого котла для обогрева дома предполагает большое количество расходов на электроэнергию. Оттого электрические котлы редко выбирают для обеспечения автономного отопления дома.</p>
        <picture>
          <source srcset="img/varieties-5.avif" type="image/avif">
          <source srcset="img/varieties-5.webp" type="image/webp">
          <img loading="lazy" src="img/varieties-5.jpg" class="varieties-item__image" width="580" height="300" alt="Электрическое">
        </picture>
      </div>
    </div>
  </div>
</section>