<section class="varieties">
  <div class="container varieties__container">
    <h2 class="g-title g-title--lg varieties__title">Разновидности скважин</h2>
    <div class="varieties-item">
      <h3 class="g-title g-title--sm varieties-item__title">Скважина на песок</h3>
      <div class="varieties-item__right">
        <p class="varieties-item__desc">Обычно обустраивается на территории домов с временным проживанием (например, на дачах). Глубина — около 25–30 метров, водозабор производится из слоев водоносного песка. В Московской области подобные источники встречаются не везде, ввиду чего перед бурением обязательно производятся соответствующие изыскания. Срок работы скважины на песок — 5–20 лет. Обустройство предполагает размещение на конце трубы фильтра, который не допустит попадания в воду песчинок. Скважина должна эксплуатироваться регулярно, поскольку большой перерыв может привести к забиванию фильтра. Среди преимуществ: низкая стоимость, непродолжительные сроки монтажных работ. Недостатки: недолговечность, зависимость уровня воды от осадков, низкая чистота жидкости (чтобы применять ее в качестве питьевой, нужно будет установить мощные системы фильтрации)</p>
        <picture>
          <source srcset="img/varieties-1.avif" type="image/avif">
          <source srcset="img/varieties-1.webp" type="image/webp">
          <img loading="lazy" src="img/varieties-1.jpg" class="varieties-item__image" width="580" height="300" alt="Скважина не песок">
        </picture>
      </div>
    </div>
    <div class="varieties-item">
      <h3 class="g-title g-title--sm varieties-item__title">Артезианская скважина (на известняк)</h3>
      <div class="varieties-item__right">
        <p class="varieties-item__desc">Глубинная скважина, предполагающая достижение известняковых водоносных прослоек. Глубина составляет от 40 до 200 метров — скважина бурится до тех пор, пока не будет достигнут известняковый горизонт. Очевидное преимущество — высокая чистота воды (однако, если вы хотите использовать ее для питья без кипячения - здесь также обязательна установка фильтра), стабильность функционирования. Также артезианские скважины долговечны: срок эксплуатации — порядка 50 лет. Производительность зависит от диаметра трубы (от 3 кубических метра в час).</p>
        <picture>
          <source srcset="img/varieties-2.avif" type="image/avif">
          <source srcset="img/varieties-2.webp" type="image/webp">
          <img loading="lazy" src="img/varieties-2.jpg" class="varieties-item__image" width="580" height="300" alt="Скважина не песок">
        </picture>
      </div>
    </div>
  </div>
</section>