<section class="why">
  <div class="container why__container">
    <h2 class="g-title g-title--lg why__title">Почему мы</h2>
    <p class="why__desc">Среди достоинств нашей компании, предлагающей услуги по монтажу систем автономной канализации под ключ:</p>
    <ul class="list-reset why-list">
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#coin"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Цена на септик для частного дома</h3>
        <p class="why-item__desc">Сегодня септик для дачи или загородного дома стоит сравнительно недорого и доступен каждому. Конкретная стоимость автономной канализации и ее монтажа рассчитывается в индивидуальном формате.</p>
      </li>
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#table"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Вариативность</h3>
        <p class="why-item__desc">Мы предлагаем купить в Москве и Московской области множество септиков, дифференцирующихся в первую очередь по типу (отстойники с анаэробной очисткой и септики с аэротенком, т.н. биосептики), материалу (полиэтилен, стеклопластик, полипропилен и т.д.). На этапе планировки производится индивидуальный подбор в соответствии с вашими требованиями и пожеланиями, особенностями объекта.</p>
      </li>
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#guarantee"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Профессионализм и оперативность</h3>
        <p class="why-item__desc">В компании работают компетентные инженеры и специалисты, имеющие большой опыт работы в своей области и соответствующее образование: мы строго относимся к отбору сотрудников.</p>
      </li>
    </ul>
  </div>
</section>