<section class="why">
  <div class="container why__container">
    <h2 class="g-title g-title--lg why__title">Почему мы</h2>
    <p class="why__desc">Среди достоинств нашей компании, предлагающей услуги по монтажу систем автономной канализации под ключ:</p>
    <ul class="list-reset why-list">
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#truck"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Оперативность</h3>
        <p class="why-item__desc">Работы производятся оперативно, без задержек и опозданий.</p>
      </li>
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#file"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Оплата по факту</h3>
        <p class="why-item__desc">Мы не берём деньги, если не добились поставленной задачи (не нашли воду). Первичный выезд на объект для консультации и составления сметы — бесплатные.</p>
      </li>
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#pipe-valve"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Материалы и оборудование</h3>
        <p class="why-item__desc">Используются профессиональные инструменты (крупно и малогабаритные установки для бурения) хорошо зарекомендовавших себя отечественных и зарубежных производителей.</p>
      </li>

      <li class="why-list__item why-item why-item--big">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#file"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Профессионализм</h3>
        <p class="why-item__desc">Средний стаж наших сотрудников — 10 лет, образование — минимум средне специальное.</p>
      </li>
      <li class="why-list__item why-item why-item--big">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#coin"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Демократичные цены</h3>
        <p class="why-item__desc">Стоимость невысока, услуги доступны всем (смотрите прайс-лист, где указаны цены за метр). При расчете стоимости также учитывается удаленность объекта (от нашей производственной площадки в Раменском).</p>
      </li>
    </ul>
  </div>
</section>