<section class="why">
  <div class="container why__container">
    <h2 class="g-title g-title--lg why__title">Почему мы</h2>
    <p class="why__desc">Среди преимуществ нашей компании, предлагающей услуги по установке отопления под ключ:</p>
    <ul class="list-reset why-list">
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#truck"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Оперативность</h3>
        <p class="why-item__desc">Монтаж котельной выполняется специалистами, имеющими многолетний опыт, без задержек и опозданий.</p>
      </li>
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#table"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Вариативность</h3>
        <p class="why-item__desc">Возможна реализация отопительной системы любого типа — вплоть до сверхсовременного геотермального отопления частного дома.</p>
      </li>
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#coin"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Цены</h3>
        <p class="why-item__desc">Стоимость — рассчитываемая в зависимости от сложности работ, типа оборудования и многих других объективных факторов, определяемая на этапе проектирования — является демократичной: услуги по установке отопления под ключ доступны всем.</p>
      </li>
    </ul>
  </div>
</section>