<section class="why">
  <div class="container why__container">
    <h2 class="g-title g-title--lg why__title">Наше предложение</h2>
    <p class="why__desc">Среди преимуществ нашей компании, предлагающей услуги по обустройству скважин в Москве и Московской области:</p>
    <ul class="list-reset why-list">
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#truck"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Скорость</h3>
        <p class="why-item__desc">Все работы осуществляются оперативно, без задержек и опозданий.</p>
      </li>
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#coin"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Цены</h3>
        <p class="why-item__desc">Стоимость услуг и оборудования сравнительно невысока.</p>
      </li>
      <li class="why-list__item why-item">
        <svg aria-hidden="true" class="why-item__icon">
          <use xlink:href="img/sprite.svg#table"></use>
        </svg>
        <h3 class="g-title g-title--sm why-item__title">Вариативность</h3>
        <p class="why-item__desc">Мы осуществляем обустройство скважин всех типов: в наличии множество комплектующих, из которых выбираются наиболее подходящие для конкретного объекта (например, есть пластиковые кессоны и металлические кессоны).</p>
      </li>
    </ul>
  </div>
</section>