<section class="works-section">
  <div class="container works-section__container">
    <div class="works-section__top">
      <h2 class="g-title g-title--lg works-section__title">Наши последние работы</h2>
      <div class="works-list">
          <div class="work-item" data-modal-animation="fade" data-modal-path="work">
            <picture>
              <source srcset="img/work-1.avif" type="image/avif">
              <source srcset="img/work-1.webp" type="image/webp">
              <img loading="lazy" src="img/work-1.jpg" class="work-item__image" width="360" height="650" alt="Скважина с кессоном">
            </picture>
            <div class="work-item__content">
              <h3 class="g-title g-title--md g-title--white work-item__title">Скважина с кессоном</h3>
              <p class="work-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника. Хорошим источником воды для такой системы будет является скважина, пробуренная до объемного водоносного слоя. По договорённости с клиентом для обустройства скважины был выбран пластиковый кессон. Кессон позволяет иметь простой доступ к обсадной трубе без выполнения каких-либо земляных работ, что имеет значение при необходимости обслуживания или в случае ремонтных работ. Предполагалось расположить внутри кессона оборудование для автономной работы системы водоснабжения, чтобы не занимать пространство в доме.</p>
            </div>
            <span class="g-link work-item__link">
              Подробнее
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </span>
          </div>
          <div class="work-item" data-modal-animation="fade" data-modal-path="work">
            <picture>
              <source srcset="img/work-2.avif" type="image/avif">
              <source srcset="img/work-2.webp" type="image/webp">
              <img loading="lazy" src="img/work-2.jpg" class="work-item__image" width="360" height="650" alt="Скважина с адаптером">
            </picture>
            <div class="work-item__content">
              <h3 class="g-title g-title--md g-title--white work-item__title">Скважина с адаптером</h3>
              <p class="work-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника. Хорошим источником воды для такой системы будет является скважина, пробуренная до объемного водоносного слоя. По договорённости с клиентом для обустройства скважины был выбран пластиковый кессон. Кессон позволяет иметь простой доступ к обсадной трубе без выполнения каких-либо земляных работ, что имеет значение при необходимости обслуживания или в случае ремонтных работ. Предполагалось расположить внутри кессона оборудование для автономной работы системы водоснабжения, чтобы не занимать пространство в доме.</p>
            </div>
            <span class="g-link work-item__link">
              Подробнее
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </span>
          </div>
          <div class="work-item" data-modal-animation="fade" data-modal-path="work">
            <picture>
              <source srcset="img/work-2.avif" type="image/avif">
              <source srcset="img/work-2.webp" type="image/webp">
              <img loading="lazy" src="img/work-2.jpg" class="work-item__image" width="360" height="650" alt="Скважина с адаптером">
            </picture>
            <div class="work-item__content">
              <h3 class="g-title g-title--md g-title--white work-item__title">Скважина с адаптером</h3>
              <p class="work-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника. Хорошим источником воды для такой системы будет является скважина, пробуренная до объемного водоносного слоя. По договорённости с клиентом для обустройства скважины был выбран пластиковый кессон. Кессон позволяет иметь простой доступ к обсадной трубе без выполнения каких-либо земляных работ, что имеет значение при необходимости обслуживания или в случае ремонтных работ. Предполагалось расположить внутри кессона оборудование для автономной работы системы водоснабжения, чтобы не занимать пространство в доме.</p>
            </div>
            <span class="g-link work-item__link">
              Подробнее
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </span>
          </div>
          <div class="work-item" data-modal-animation="fade" data-modal-path="work">
            <picture>
              <source srcset="img/work-1.avif" type="image/avif">
              <source srcset="img/work-1.webp" type="image/webp">
              <img loading="lazy" src="img/work-1.jpg" class="work-item__image" width="360" height="650" alt="Скважина с кессоном">
            </picture>
            <div class="work-item__content">
              <h3 class="g-title g-title--md g-title--white work-item__title">Скважина с кессоном</h3>
              <p class="work-item__desc">Владельцы загородного участка в поселении Краснопахорское позвонили нашим специалистам с желанием устроить систему водоснабжения дома из своего источника. Хорошим источником воды для такой системы будет является скважина, пробуренная до объемного водоносного слоя. По договорённости с клиентом для обустройства скважины был выбран пластиковый кессон. Кессон позволяет иметь простой доступ к обсадной трубе без выполнения каких-либо земляных работ, что имеет значение при необходимости обслуживания или в случае ремонтных работ. Предполагалось расположить внутри кессона оборудование для автономной работы системы водоснабжения, чтобы не занимать пространство в доме.</p>
            </div>
            <span class="g-link work-item__link">
              Подробнее
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </span>
          </div>
      </div>
      <a href="works.html" class="g-link works-section__link">
        Смотреть все работы
        <svg aria-hidden="true">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>